<style>
    .panel-post {
        position: relative;
    }

    .btn-post {
        position: absolute;
        right: 0;
        bottom: 10px;
    }

    .img-border {
        border-radius: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }

    .embed-responsive img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .collection-content {
        padding: 15px;
        background: #efefef;
        color: #444;
    }

    .panel-user h4 {
        font-weight: normal;
        font-size: 14px;
    }
</style>
<div class="container mt-20">
    <div id="content-container">
        <div class="row">
            <div class="col-md-3">
                {include file="common/sidenav" /}
            </div>
            <div class="col-md-9">
                <div class="panel panel-default panel-user">
                    <div class="panel-body">
                        <div class="panel-post">
                            <h2 class="page-header">我的收藏</h2>
                        </div>

                        {volist name='collectionList' id='item'}
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="{$item.url}" target="_blank" class="img-thumb">
                                    <div class="embed-responsive embed-responsive-4by3 img-zoom">
                                        <img src="{$item.image}" class="embed-responsive-item" onerror="this.src='__CDN__/assets/addons/cms/img/noimage.jpg';this.onerror=null;">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-9">
                                <h4>
                                    <a href="{$item.url}" target="_blank">{$item.title|htmlentities}</a>
                                </h4>
                                <p class="text-muted">收藏于 {$item.createtime|datetime}</p>
                                <div>
                                    <a class="btn btn-danger btn-delete" href="javascript:" data-url="{:url('index/cms.collection/delete')}" data-id="{$item.id}"><i class="fa fa-times"></i> 移除</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {/volist}
                        {if $collectionList->total()==0}
                        未找到任何记录!
                        {/if}
                        <div class="pager">{$collectionList->render()}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
