<div class="comment">
    <div class="comment-header">
        <h4 class="title">
            <a href="{$article.url}">{$article.title|htmlentities}</a>

            {if $article.tags}
            <div class="tags">
                {foreach name="article.tags" id="tag"}
                <a href="{$tag.url}" class="tag">{if $tag.icon}<img src="{$tag.icon}" alt="">{/if}{$tag.name}</a>
                {/foreach}
            </div>
            {/if}
        </h4>
    </div>
    <div class="comment-body">

    </div>
    <div class="comment-footer clearfix">
        <div class="">
            <a href="javascript:" class="action btn-comment" data-type="article" data-id="{$article.id}"><i class="fa fa-comment-o"></i> <span>{$article.comments}</span> 条评论</a>
            <a href="javascript:" class="action btn-collection {:$article.collected?'collected':''}" data-id="{$article.id}" data-type="article"><i class="fa fa-bookmark-o"></i> <span>{:$article.collected?'已收藏':'收藏'}</span></a>
            <a href="javascript:" class="action btn-thanks" data-id="{$article.id}" data-type="article" data-user-id="{$article.user.id}" data-user-url="{$article.user.url}" data-user-nickname="{$article.user.nickname}" data-user-avatar="{$article.user.avatar|cdnurl}" data-toggle="popover" data-title="感谢" data-url="{:addon_url('ask/ajax/get_thanks_list')}"><i class="fa fa-heart"></i> <span>感谢</span></a>
            {if $isAdmin || ($user && $user.id==$article.user_id)}
            <a href="{:addon_url('ask/article/update',[],false)}/id/{$article.id}" class="action btn-edit" data-id="{$article.id}" data-type="article" data-toggle="tooltip" data-title="编辑更新文章"><i class="fa fa-pencil"></i> 编辑</a>
            <a href="{:addon_url('ask/article/delete',[],false)}/id/{$article.id}" class="action btn-delete" data-id="{$article.id}" data-type="article" data-toggle="tooltip" data-title="删除该文章"><i class="fa fa-times"></i> 删除</a>
            {/if}
        </div>
        <div class="sub-comments hidden">
        </div>
    </div>
</div>