<style>
    #updateconfig .row label {
        font-weight: 400;
    }
</style>
<form action="{:request()->url(true)}" class="p-3" method="post" id="updateconfig">
    {:token()}
    <div class="form-group">
        <label>标题样式设定</label>
    </div>
    <div class="row mb-2">
        <div class="col-xs-12">
            <input type="checkbox" name="style[]" id="style-bold" value="b" {:$__item__.style_bold?'checked':''}/> <label for="style-bold">粗体</label>
            <input type="checkbox" name="style[]" id="style-underline" value="u" class="ml-1" {:$__item__.style_underline?'checked':''}/> <label for="style-underline">下划线</label>
        </div>
    </div>
    <div class="mb-2">
        <label>标题颜色设定
            <small class="text-muted" style="font-weight:400;">设定颜色二将启用渐变</small>
        </label>
    </div>
    <div class="row mb-2">
        <div class="col-xs-6">
            <div class="input-group ">
                <input type="text" class="form-control" name="color[]" id="color-first" value="{$__item__.style_color_first}" placeholder="颜色一"/>
                <a href="javascript:" class="colorpicker input-group-addon"><i class="fa fa-pencil fa-fw"></i></a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="input-group ">
                <input type="text" class="form-control" name="color[]" id="color-second" value="{$__item__.style_color_second}" placeholder="颜色二"/>
                <a href="javascript:" class="colorpicker input-group-addon"><i class="fa fa-pencil fa-fw"></i></a>
            </div>
        </div>
    </div>
    <div class="mb-2">
        <label>置顶设定</label>
        <div class="row">
            <div class="col-xs-12">
                <input type="checkbox" name="flag[]" id="flag-top" value="top" {:in_array('top', $__item__.flag_list)?'checked':''}/> <label for="flag-top">置顶</label>
                <span class="hidden">
                    <input type="checkbox" name="flag[]" id="flag-hot" value="hot" class="ml-1" {:in_array('hot', $__item__.flag_list)?'checked':''} /> <label for="flag-hot">热门</label>
                    <input type="checkbox" name="flag[]" id="flag-recommend" value="recommend" class="ml-1" {:in_array('recommend', $__item__.flag_list)?'checked':''} /> <label for="flag-recommend">推荐</label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 text-center col-xs-offset-4">
            <input name="submit" type="submit" id="submit" value="保存" class="btn btn-primary btn-block">
        </div>
    </div>
</form>